@import "tailwindcss";

@theme {
  --color-primary: #112e77;
  --color-secondary: #0d2258;
  --color-accent: #e7c469;
  --color-accent-hover: #dec16b;
  --color-light: #f8f9fa;
  --color-dark: #020c1b;

  --font-sans:
    "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-light text-primary font-sans antialiased overflow-x-hidden;
  }
}

.magnetic-btn {
  display: inline-flex;
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-light);
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Lenis Scroll Overrides (Prevents native smooth scroll clash) */
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
